<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuoyingtao.mapper.UserMapper">
    <resultMap id="UserMap" type="com.tuoyingtao.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="age" column="age" jdbcType="BIGINT"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="insertFields">
        `name`, `gender`, `age`, `email`, `address`, `create_time`, `update_time`
    </sql>

    <sql id="selectFields">
        `id`, `name`, `gender`, `age`, `email`, `address`, `create_time`, `update_time`
    </sql>

    <insert id="insertUser" parameterType="com.tuoyingtao.entity.User" keyProperty="id">
        INSERT INTO `t_user` (<include refid="insertFields"></include>)
        VALUES (#{name}, #{gender}, #{age}, #{email}, #{address}, #{createTime}, #{updateTime})
    </insert>

    <select id="getUserDetail" parameterType="Long" resultMap="UserMap">
        SELECT <include refid="selectFields"></include>
        FROM `t_user`
        <where>
            id = #{id}
        </where>
    </select>
</mapper>
