<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glume.generator.service.mapper.FieldTypeMapper">
    <resultMap id="fieldTypeMap" type="com.glume.generator.service.domain.entity.FieldTypeEntity">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="columnType" column="column_type" jdbcType="VARCHAR" />
        <result property="attrType" column="attr_type" jdbcType="VARCHAR" />
        <result property="packageName" column="package_name" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getPackageListByTableId" resultType="java.lang.String">
        SELECT t1.package_name
        FROM gen_field_type t1,
             gen_table_field t2
        WHERE t1.attr_type = t2.attr_type
          AND t2.table_id = #{tableId}
    </select>
</mapper>
